@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.covid-19_page_main_container {
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #0967d219;
    height: 100vh;
    width: 100vw;
}

.caution_tag {
    font-size: 16px;
    width: 170px;
    font-family: "Roboto";
    color: #323f4b;
}

.caution_tag_button {
    font-size: 12px;
    width: 90px;
    border-radius: 8px;
    font-family: "Roboto";
}

.caution_tag_img {
    height: 90px;
    width: 135px;
}

.covid-19_card_container {
    background-color: #0967d219;
    border-radius: 10px;
    margin-top: 18px;
    padding: 10px;
}

.covid-19_card_img {
    height: 40px;
    width: 40px;
    margin: 10px;
}

.covid-19_card_heading {
    font-size: 16px;
    width: 120px;
    font-family: "Roboto";
    color: #323f4b;
}

.covid-19_class_description {
    font-size: 10px;
    width: 200px;
    font-family: "Roboto";
    color: #707070;
    font-weight: 500;
}

.symptoms_heading {
    font-size: 16px;
    width: 90px;
    margin-top: 16px;
    color: #323f4b;
}

.symptoms_cough_container {
    margin-top: 18px;
}

.symptoms_cough_cotes {
    background-color: #3ebd93;
    height: 90px;
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    font-family: "Roboto";
}

.symptoms_cough_cotes_text {
    width: 80px;
    font-size: 12px;
    color: #ffffff;
}

.bg_color_pink {
    background-color: #e668a7;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Roboto";
}

.bg_color_volatile {
    background-color: #a368fc;
    font-family: "Roboto";
}

.videos_heading {
    font-size: 16px;
    width: 90px;
    margin-top: 16px;
    color: #323f4b;
}

.bottom_card_container {
    background-color: #e12d3919;
    border-radius: 10px;
    margin-top: 18px;
    padding: 10px;
}

.video_img {
    height: 45px;
    margin: 10px;
    width: 45px;
}

.bottom_heading {
    font-size: 14px;
    width: 200px;
    font-family: "Roboto";
    color: #323f4b;
}

.bottom_button {
    background-color: #0967d2;
    border-width: 0px;
    font-size: 12px;
    color: #ffffff;
    padding: 4px;
    border-radius: 8px;
    width: 80px;
    font-family: "Roboto";
}
